# Salin menjadi .env untuk development lokal
SECRET_KEY=VgG9ZhpY84Z0peobj6nD3La4xZO0zJiG
DEBUG=True

# Dari dashboard Neon (Connection string)
DATABASE_URL=postgresql://USER:PASSWORD@ep-xxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Dari dashboard Cloudinary (untuk simpan foto upload dari admin)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
